DEBUG_VALUE=False

DATABASE_URL=postgresql://<USER>:<PASSWORD>@db:5432/<DB_NAME>
DJANGO_SETTINGS_MODULE=find_your_gap_api.settings.production

SECRET_KEY=YOUR_KEY

ALLOWED_HOSTS=127.0.0.1,my_herokuapp_name.herokuapp.com
CORS_ORIGIN_WHITELIST=http://127.0.0.1:5500,https://my_app_name.netlify.app

DEL_UNVERIFIED_SECRET_CODE=your-secret-code-to-access-delete_unverified_users_view
